@font-face {
    font-family:font ;
    src: url("font/JacquesFrancoisShadow-Regular.ttf");
}
h3 {
    font-family:font;
}
@font-face {
    font-family:font-1;
    src: url("font-1/OriginalSurfer-Regular.ttf");
}
.p1 {
    font-family: font-1;
}
@font-face {
    font-family: font-2;
    src: url("font-2/Play-Regular.ttf");
}
.p2 {
    font-family: font-2;
}