@font-face {
    font-family: chemi font;
    src: url("font/JacquesFrancoisShadow-Regular.ttf");
}
h3 {
    font-family: chemi font;
}

@font-face {
    font-family: chemi font;
    src: url("font2/OriginalSurfer-Regular.ttf");
}
p {
    font-family: chemi font;
}
@font-face {
    font-family: chemi font;
    src: url("fon3/Play-Regular.ttf");
}
.p1 {
    font-family: chemi font;
}